.user-table {
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
}

.user-table td {
    border-top: 1px solid orange;
}

.user-table td {
    margin: 0;
    text-align: center;
}

.admin-btn {
    width: 200px;
    color: white;
    margin-top: 10px;
    background: #eba11a;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.2s linear;
}
.admin-btn:hover {
    background: #eb701a;
}