form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-part {
    display: flex;
    justify-content: center;
}

.input-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    color: #4a4949;
    line-height: 30px;
    margin: 3px 0;
}

.checkbox-div {
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0);
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #eba11a;
    border-radius: 3px;
    margin: 2px;
    padding: 3px;
    background: rgba(0,0,0,0);
}

.checkbox div{
    display: flex;
    justify-content: center;
}

.submit-btn {
    width: 100px;
    color: white;
    margin-top: 10px;
    background: #eba11a;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.2s linear;
}

.submit-btn:hover {
    background: #eb701a;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.add-member-select-btn-div {
    display: flex;
    justify-content: flex-end;
}

.member-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error-div {
    border-radius: 3px;
    background: rgba(255, 0, 0, 0.5);
    margin-bottom: 5px;
    padding: 10px;
    font-size: 0.8em;
}


